*,*::before, *::after{
    box-sizing:border-box;
}

body, html{
    width:100%;
    height:100%;      
}
.wrapper{
    width:100%;
    height:100%;
    display:grid;
    justify-content: center;
    align-items:center;
    align-content:center


}
.wrapper form{
    width:1400px;
}
form input{
    width:100px;
    margin: bottom 10px;
    height:10px;
    
}

form button{
    width:102%;
    margin: bottom 10px;
    height:40px;
    background-color:brown;
    border:none;
    color:white;
    
}